.h1-custom{
    color: rgb(1, 208, 245);
    font-size: 2rem;
}

.bg-about{
    background-color: rgb(43, 43, 43);
}

.w-card-educ{
    width: 80%;
    background-color: rgb(56, 56, 56);
    color: white;
}

.w-about-custom{
    width: 90%;
}

.time-text{
    color: rgb(179, 179, 179);
}

.color-custom{
    color: rgb(1, 208, 245);
}

.btn-custom:hover{
    background-color: rgb(54, 54, 54);
    color: rgb(1, 208, 245);
}

@media (min-width: 768px) {
    .w-card-educ{
        width: 500px;
    }
}

@media (min-width: 992px) {
    .w-about-custom{
        width: 70%;
    }
    .w-card-educ{
        width: 400px;
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .w-xl-card{
        width: 80%;
    }
}